<title>MoRide - Upcoming Rides</title>
<div layout-gt-sm="row">

  <div flex-gt-sm="50" flex-offset-gt-sm="25">
    <h1 id="ride-list-title">Upcoming Rides</h1>
    <button mat-raised-button
            id="add-ride-button"
            routerLink="/addride"
            color="primary"
            type="button"
            style="width: 100%">
      <mat-icon>add_circle_outline</mat-icon>
      Create a Ride
    </button>
    <mat-divider></mat-divider>
    <div *ngIf="rides; else ridesError">
      <mat-card #elem class="rides" [id]="ride.driver" *ngFor="let ride of this.rides">
        <mat-card-header class="ride-title">
          <mat-card-title>
            <div class="departure-time">
              <span *ngIf="ride.departureDate">{{ride.departureDate}}</span>
              <span *ngIf="ride.departureDate && ride.departureTime"> at </span>
              <span *ngIf="ride.departureTime">{{ride.departureTime}}</span>
            </div>
            <div class="seats-left">
              <small>{{ride.seatsAvailable}} SEATS LEFT</small>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
          <div class="route">
            <div class="ride-info origin">{{ride.origin}}</div>
            <mat-icon>play_arrow</mat-icon>
            <div class="ride-info destination">{{ride.destination}}</div>
          </div>
          </mat-expansion-panel-header>
          <form (ngSubmit)="showLocation()">
            <input type="text" [(ngModel)]= "address" required [ngModelOptions]="{standalone: true}">
            <button type="submit">Show Location</button>
          </form>
            <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
              height: 100%;
              width: 97%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
              height: 100%;
              margin: 50px;
              padding: 50px;
              border-color: maroon;
            }
          </style>
          <div id="map"></div>
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
          <agm-map
            [latitude]="location?.lat"
            [longitude]="location?.lng"
            [zoom]="14"
            [disableDefaultUI]="false"
            [zoomControl]="false">
            <agm-marker
              [latitude]="location?.lat"
              [longitude]="location?.lng">
            </agm-marker>
          </agm-map>
          <p *ngIf="loading">Loading...</p>
        </mat-expansion-panel>
          <mat-card-content>
          <div id="ride-info-driver-id" class="ride-info driver">
            {{ride.driver}} is offering this ride
          </div>

          <mat-divider [inset]="true" *ngIf="ride.notes"></mat-divider>

          <div  *ngIf="ride.notes" class="ride-info notes">
            <small>DRIVER NOTES:</small>
            <div>{{ride.notes}}</div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <ng-template #ridesError>
        <mat-error>
          There was a problem loading the rides. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
      </ng-template>
  </div>
</div>
